.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .resumen {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .botones {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  