<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Direccion Av ejemplo 123,  Dolores Hidalgo</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10087.774677408848!2d-100.93017481850546!3d21.166018534687957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3efe2e87ccd7%3A0xcf1c80c255f1993e!2sUniversidad%20Tecnol%C3%B3gica%20del%20Norte%20de%20Guanajuato!5e0!3m2!1ses!2smx!4v1728493757939!5m2!1ses!2smx"  height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="fb-icon"
            ><i class="fa-brands fa-facebook fa-lx mg-2"></i></a>
          <a href="#" class="ins-icon" ><i class="fa-brands fa-instagram fa-lx mg-2"></i> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <span class="text-muted">Copyright {{ currentYear }} Luis Angel</span>
        </div>
      </div>
    </div>
  </footer>