<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(https://picsum.photos/200/1200);">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate_animated animate_fadeInDown text-center">bienvenido</h2>
                        <p class="animate_animated animate_fadeInDown text-center">Velit ad occaecat amet pariatur magna irure consequat cillum commodo magna qui.</p>
                        <button class="animate_animated animate_fadeInDown text-center" mat-flat-button color="wght"> ver mas</button>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url(https://picsum.photos/200/1200);">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate_animated animate_fadeInDown text-center">compra en linea</h2>
                        <p class="animate_animated animate_fadeInDown text-center">Velit ad occaecat amet pariatur magna irure consequat cillum commodo magna qui.</p>
                        <button class="animate_animated animate_fadeInDown text-center" mat-flat-button color="wght"> ver mas</button>
                    </div>
                </div>
            </div>  
        </div>

        <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="prev">
            <span class="carousel-control-next-icon bi bi-chevron-right"></span>
        </a>
        
        
    </div>
</section>l

<div class="container mb-5 mt-5">
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title> Producto 1</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://picsum.photos/1200/1200" />
            <mat-card-content>
                <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus adipisci reiciendis amet, ullam, eligendi id expedita assumenda quo a temporibus minus? Dolorum recusandae nemo voluptatum ipsam odit omnis voluptatibus.</b>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button>
                    <mat-icon color="primary">add_shopping-cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title> Producto 1</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://picsum.photos/1200/1200" />
            <mat-card-content>
                <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus adipisci reiciendis amet, ullam, eligendi id expedita assumenda quo a temporibus minus? Dolorum recusandae nemo voluptatum ipsam odit omnis voluptatibus.</b>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button>
                    <mat-icon color="primary">add_shopping-cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title> Producto 1</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://picsum.photos/1200/1200" />
            <mat-card-content>
                <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus adipisci reiciendis amet, ullam, eligendi id expedita assumenda quo a temporibus minus? Dolorum recusandae nemo voluptatum ipsam odit omnis voluptatibus.</b>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button>
                    <mat-icon color="primary">add_shopping-cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</div>